<ion-header no-border>
  <ion-toolbar>
    <ion-title text-capitalize><h1>Crea tu proyecto</h1></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding> 
      
      <div>
        <ion-item>
          <ion-label position="stacked">Cual es el titulo?</ion-label>
          <ion-input  placeholder="Titulo"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="stacked">Cuál es el género que vas a escribir?</ion-label>
          <ion-input  placeholder="Género de preferencia"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="stacked">Foto</ion-label>
          <ion-input  placeholder="https://..."></ion-input>
        </ion-item>
      </div>
      <ion-button (click)="salirSinArgumentos()"
                  color="primary" expand="block">
      Cancelar        
      </ion-button>

      <ion-button (click)="salirConArgumentos()"
      color="secondary" expand="block">
      Guardar        
      </ion-button>      
</ion-content>
 