<ion-header no-border>
  <ion-toolbar>
    <ion-title text-capitalize>Crea tu proyecto</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
      <h1>Crea tu proyecto</h1>
      <div>
        <ion-item>
          <ion-label position="stacked">Cual es el nombre de tu mundo?</ion-label>
          <ion-input  placeholder="Mundo"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="stacked">Cuántos Paises hay en tu mundo?</ion-label>
          <ion-input  placeholder="Paises"></ion-input>
        </ion-item>
      </div>
      <ion-button (click)="salirSinArgumentos()"
                  color="primary" expand="small">
      Cancelar        
      </ion-button>

      <ion-button (click)="salirConArgumentos()"
      color="secondary" expand="small">
      Guardar        
      </ion-button>      
</ion-content>
 