<ion-header no-border>
  <ion-toolbar>
    <ion-title text-capitalize><h1>Crea tu proyecto</h1></ion-title>
  </ion-toolbar>
</ion-header> 

<ion-content padding>
      
      <div>
        <ion-item>
          <ion-label position="stacked">Cual es el nombre de tu personaje?</ion-label>
          <ion-input  placeholder="Personaje"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="stacked">Cuál es la edad de tu personaje?</ion-label>
          <ion-input  placeholder="Edad"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="stacked">Cual es el genero de tu personaje?</ion-label>
          <ion-input  placeholder="GeneroP"></ion-input>
        </ion-item>
      </div>
      <ion-button (click)="salirSinArgumentos()"
                  color="primary" expand="small">
      Cancelar        
      </ion-button>

      <ion-button (click)="salirConArgumentos()"
      color="secondary" expand="small">
      Guardar        
      </ion-button>      
</ion-content>
 